/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  color: white;
}

.banner {
  background-image: url(../images/landing.png);
  background-size: cover;
  background-position: center;
  height: 470px;
  padding: 100px 0;
}

.container {
  width: 900px;
  margin: auto;
}

.btn-primary {
  display: inline-block;
  background-color: #2F94FF;
  padding: 16px 24px;
  border-radius: 50px;
  color: white;
}

.text-center {
 text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: black;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}


.footer a {
    font-size: 30px;
    color: #2F94FF;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

h2, h4 {
  color:black;
}

a {
  text-decoration: none;
}

/* Custom design below! */

